<div>
  <div class="topnav">
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User</a>
    <a [routerLink]="['/books']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      *ngIf='isLoggedIn'>Books</a>
    <a [routerLink]="['/authors']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      *ngIf='isLoggedIn'>Authors</a>
  </div>

  <div *ngIf='!isLoggedIn'>
    <form>
      <div class="con">
        <div class="field-set">
          <input class="form-input" type="text" placeholder="UserName" name="userName" required #user><br>
          <input class="form-input" type="password" placeholder="Password" name="password" required #pass>
          <button class="log-in" (click)="login(user.value, pass.value)"> Log In </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf='isLoggedIn'>
    <button class="log-out" (click)="logout()"> Log out </button>
  </div>

  <router-outlet></router-outlet>
</div>